<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dist/tailwind.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
    />
    <title>Secure Share</title>
  </head>
  <body>
    {{ template "navbar" . }} {{ template "proj" . }} {{ template "modal" . }}
    {{ if .RenderSecret }}
    <div class="container mx-auto p-4">{{ template "secret" . }}</div>
    {{ else if .Error }}
    <div class="container mx-auto p-4">{{ template "error" . }}</div>
    {{ else }}
    <div class="container mx-auto p-4">{{ template "body" . }}</div>
    {{ end }}
  </body>
  <script>
    function copyToClipboard(areaID) {
      var copyText = document.getElementById(areaID);
      copyText.select();
      document.execCommand("copy");
    }

    function getTextAreaContent() {
      return document.getElementById("secretContent").value;
    }

    function getMenuSelection() {
      return document.getElementById("menuSelection").value;
    }

    function toggleModal(modalID) {
      document.getElementById(modalID).classList.toggle("hidden");
      document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
      document.getElementById(modalID).classList.toggle("flex");
      document.getElementById(modalID + "-backdrop").classList.toggle("flex");
    }
  </script>
</html>
