{{ define "navbar" }}
<nav class="bg-gray-800 p-4">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-8 items-center justify-between">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-white font-semibold text-xl">Secure Share</span>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <a href="/" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">New secret</a>
          </div>
        </div>
      </div>
        <div>
            <a href="https://github.com/lorenzophys/secret-share" target="_blank" class="text-gray-300 hover:text-white">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div>
    </div>
</nav>
{{ end }}
